.jumbotron {
  margin-top: 1rem;
  background-image: url("../assets/images/learningheader.png");
  background-size: cover;
  color: white; }

.custom_jumbotron {
  margin-top: 1rem;
  margin-left: 2rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  color: white; }

.custom_jumbotron1 {
  margin-top: 1rem;
  margin-left: 5rem;
  padding: 0.5rem; }

@media only screen and (max-width: 600px) {
  .custom_jumbotron {
    margin-top: 1rem;
    margin-left: 1rem;
    position: relative;
    top: 16rem;
    width: 25rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    color: white; }
  .custom_jumbotron1 {
    margin-top: 1rem;
    margin-left: 5rem;
    padding: 1rem;
    top: -5rem;
    position: relative; }
  p {
    display: inline;
    word-wrap: break-word; }
  h2 {
    display: inline;
    word-wrap: break-word; } }

@keyframes marquee {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(-100%, 0); } }
